*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
}    
nav{
    width: 100%;
    top: 0;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.87) ; 
    z-index:2;
}
.hamburger-menu{
    position: relative;
    display: none;
    border: none;
    top: 5%;
    left: 10%;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
}
.hamburger-menu input{
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    z-index: 5;
}
.hamburger-menu input:checked ~ .line{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
.hamburger-menu input:checked ~ .line:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0, 0);
}
.hamburger-menu input:checked ~ .line:nth-last-child(2){
    transform: rotate(-45deg) translate(-1px, -2px);
}

.line{
    width: 35px;
    height: 4px;
    background-color:black;
    border-radius: 5px;
    position: relative;
    display: block;
    margin:5px auto;
    z-index: 1;
    
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}    
.line:first-child{
    transform-origin: 0% 0%;
}
.line:first-child(2){
    transform-origin: 0% 100%;
}

#menu-toggle{
    position: absolute;
    width: 175px;
    top: 30px;
    left: 100px;
    display: none;
    background: #ededede3;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition:transform 0.5s 
                cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu-toggle a{
    display: none;
    text-decoration:none;
}
#menu-toggle a:hover{
    color: red;
}
#menu-toggle li{
    padding: 10px 0;
    font-size: 22px;
}
.hamburger-menu input:checked ~ #menu-toggle , #menu-toggle a {
    display: block;
}

.menu{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.logo-icon{
    width: 50%;
}
.logo-icon img{
    height: 50px;
    margin: 4%;
    object-fit: cover;
}
.to-eat, .content, .aboutus, .shopping-cart {
    height: 3vh;
    width: 18%;
}
.to-eat a, .content a, .aboutus a, .shopping-cart a{
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration:none;
}
.to-eat img, .content img, .aboutus img, .shopping-cart img{
    height: 2vh;
    object-fit: cover;
    margin-right:4%
}
/* ======================================= */
@media screen and (max-width: 1024px) {
.to-eat, .content, .aboutus, .shopping-cart{
    height: 3vh;
    width: 24%;
    }    
}
@media screen and (max-width: 768px) {
.to-eat, .content, .aboutus, .shopping-cart{
    height: 3vh;
    width: 24%;
    font-size: .9rem;
    }    
}
@media screen and (max-width: 480px) {
.hamburger-menu{
    margin-right: 15%;
    display: block;
}
.menu{
    display: none;
}
.to-eat, .content, .aboutus, .shopping-cart{
    display: none;
    }    
}
/* ======================================= */
.essential{
    width: 100%;
    height: auto;
    background:white;
    display: flex;
    margin: 6rem 0;
}
.store-brand{
    width: 22%;
    background:white;
}
.store-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:76vh;
}
.store-logo img{
    width: 180%;
    object-fit: cover;
}
.slide-Show{
    width: 78%;
}
.products-show{
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
.slideShow{
    object-fit: cover;
    overflow: hidden;
    width:100%;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1.45, 1.45, 1.45);
        transform: scale3d(1.45, 1.45, 1.45);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
  
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1.45, 1.45, 1.45);
        transform: scale3d(1.45, 1.45, 1.45);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* ======================================= */
@media screen and (max-width: 1024px) {
.store-logo{
    height:35vh;
    }    
.store-logo img{
    width: 170%;
    }    
}
@media screen and (max-width: 768px) {
.essential{
    height:32vh;
    margin: 5rem 0;
    }    
.store-logo{
    height:30vh;
    }    
.store-logo img{
    width: 160%;
    }    
.pulse{
    width: 100%;
    }   
}   
@media screen and (max-width: 480px) {
.store-brand{
    display: none;
    }    
.essential{
    height:43vh;
    margin: 5rem 0;
    }        
.store-logo{
    height:20vh;
    }    
.store-logo img{
    display: none;
    }    
.slide-Show{
    width: 100%;
    }    
.pulse{
    width: 100%;
    height: 50vh;
    }    
}
/* ======================================= */
.bulletin{
    width: 100%;
    display: block;
    background-color:#fefbda;
}
.piece-cake{
    width: 100%;
    background: url(images/strawberry-cake-piece.jpg) right no-repeat;
    background-size: 48%;
    justify-content: right;
    display: flex;
    height: 60vh;
}
.board{
    width:100%; 
    margin-top:4%;
}
.board h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.board h1{
    text-align: center;
    font-size: 5.6rem;
}
.board-text{
    width: 100%;
    justify-content: center;
    text-align:center ;
    display: flex;
    font-size: 1.2rem;
    line-height: 2.8rem;
}
/* ======================================= */
@media screen and (max-width: 1024px) {
.piece-cake{
    background-size: 65%;
    height: 45vh;
    }
    .board h2{
        font-size: 1.6rem;
    }   
    .board h1{
        font-size: 3rem;
    }  
    .board-text{
        font-size: 1.2rem;
    }   
}
@media screen and (max-width: 768px) {
.piece-cake{
    height: 50vh;
    background-size: 65%;
    }    
.board h2{
    font-size: 1.6rem;
    }   
.board h1{
    font-size: 3rem;
    }  
.board-text{
    font-size: 1.2rem;
    }   
}
@media screen and (max-width: 480px) {
.piece-cake{
    height: 35vh;
    background-size: 90%;
    }    
.board h2{
    font-size: .9rem;    
    }    
.board h1{
    font-size: 2rem;    
    }   
.board-text{
    font-size: .9rem;   
    line-height: 1.9rem; 
    }    
}
/* ======================================= */
.propaganda{
    width: 100%;
    background-color:#fefbda;
    display: flex;
    padding: 0 4%;
    height: 70vh;
}
.magazine{
    width: 50%;
}
.magazine h3{
    font-size:1.4rem;
    padding-bottom: 3rem;
    text-align: center;
}
.magazine img{
    width: 100%;
}
.comment{
    width: 50%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment h3{
    font-size: 1.4rem;
    padding-bottom: .8rem;
    text-align: center;
}
.comment img{
    width: 80%;
}
.propaganda2{
    width: 100%;
    height: 40vh;
}
.board2{
   width: 100%;
   height:38vh;
}
.propaganda2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* ======================================= */
@media screen and (max-width: 1024px) {
.propaganda{
    height: 40vh;
    }    
.propaganda2{
    height: 30vh;
    }    
.board2{
    height:25vh;
    }  
}      
@media screen and (max-width: 768px) {
.propaganda{
    height: 40vh;
    }    
.magazine h3{
    font-size:1.5rem;
    padding-bottom: 2rem;
    }    
.comment h3{
    font-size:1.5rem;
    padding-bottom: 2rem;
    }  
.propaganda2{
    height: 30vh;   
    }    
.propaganda2 img{
    height:67%;      
    } 
}
@media screen and (max-width: 480px) {
.propaganda{
    flex-direction: column;
    height: 48vh;
    background-color:#fefbda;
    }    
.magazine{
    width:100%;
    margin-top: 12%;
    background-color:#fefbda;
    }    
.magazine h3{
    font-size:1rem;
    font-weight: bold;
    }     
.comment{
    display: none;
    }  
.comment img{
    width:85%;  
    }  
.propaganda2{
    height: 24vh;    
    }    
.board2{
    height: 35vh;
    }    
.propaganda2 img{
    height: 50%;  
    }    
}
@media screen and (max-width: 375px) {
.propaganda{
    height: 48vh;
    background-color:#fefbda;
    }    
.magazine{
    margin-top: 15%;
    background-color:#fefbda;
    }   
.board2{
    height:30vh;
    }  
}   
/* ======================================= */
.product-title{
    width: 100%;
    display:block;
    margin-top:4%;
}
.title-text{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.4rem;
}
.title-text::after{
    content: "";
    display: block;
    width: 90%;
    height: .2vh;
    margin:3vh auto;
    background: #aaa095;
} 
.product-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-list{
    width: 90%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px #aaa095 solid; 
}
.list-left{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
}
.list-right{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-end;
}
.left-inner{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 6%;
}
.right-inner{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-end;
    margin-bottom: 6%;
}
.cake{
    width:90%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}
.cake a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cake-pic{
    width:100%;
    height: 38vh;
}
.cake h2{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-align: center;
    line-height: 4.5rem;
}
.cake ul{
    width:100%;
    display: flex;
    justify-content: space-around;
    line-height: 3rem;
}
.cake li{
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
}
.cake-description{
    width:100%;
    height: 5vh;
    margin-top: 2.5%;
}
.cake-description p{
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.cake-price{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    flex-wrap: wrap;
    line-height: 4rem;
}
.putin-cart{
    width:25%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 3rem;
    border:2px black solid;
    border-radius: 15px ;
}
.putin-cart a{
    text-decoration:none;
}
.putin-cart a:hover{
    color: red;
}
.putin-cart img{
    height: 22px;
    /*margin: 7%;*/
} 
.product-detail{
    width:25%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 3rem;
    border:2px black solid;
    border-radius: 15px;
}  
.product-detail a{
    text-decoration:none;
    width:100%;
}
.product-detail a:hover{
    color: red;
}
.product-detail img{
    height: 20px;
    margin-right:4px;
}
/* ======================================= */ 
@media screen and (max-width: 1024px) {
.title-text{
    font-size:2.2rem;
    line-height: 3rem;
    }
.cake-pic{
    height: 25vh;
    }
.cake li{
    width:32%;
    font-size: 1.1rem;
    }
.cake-description{
    margin-top: 5%;
    height: 8vh;
    }    
.cake-description p{
    font-size: 1.5rem;
    line-height: 2rem;
    }  
.cake-price {
    font-size: 1.7rem;
    line-height: 10rem;
    }
.putin-cart{
    font-size: 1rem;
    line-height: 2.1rem;
    width:34%;
    }
.putin-cart img{
    height:2vh;
    }
.product-detail{
    font-size: 1rem; 
    line-height: 2rem;  
    width:32%; 
    }  
.product-detail img{
    height: 1.5vh;
    }
}
@media screen and (max-width: 768px) {
.cake-pic{
    height: 26vh;    
    }    
.cake h2{
    font-size: 1.3rem;   
    }    
.cake li{
    width:50%;
    font-size: 1rem;
    }
.cake-description{
    height: 9vh;  
    }    
.cake-description p{
    font-size: 1.3rem; 
    line-height: 1.7rem;  
    }
.cake-price{
    font-size: 1.2rem;  
    }  
.putin-cart{
    width:35%;
    font-size:.8rem;
    }   
.putin-cart img{
    margin:6% 3%;
    } 
.product-detail{
    width:34%;
    font-size:.8rem;
    } 
.product-detail img{
    height: 17px;
    margin:6% 8% 0 0;
    }
}
@media screen and (max-width: 480px) {
.item-list{
    flex-direction: column;
    }    
.list-left , .list-right{
    width: 100%;
    justify-content:center;
    }    
.left-inner , .right-inner{
    justify-content:center;
    }       
.cake-pic{
    height:50%;  
    }    
.cake h2{
    font-size: 1.3rem;
    }    
.cake li{
    width:32%;
    font-size: 1rem;
    }
.cake-description {
    height: 10vh;
    }        
.cake-description p{
    font-size: 1rem; 
    line-height: 1.3rem;  
    } 
.cake-price{
    font-size: 1.3rem; 
    line-height: 1.3rem;  
    } 
.putin-cart{
    font-size: 1rem; 
    line-height: 2rem;  
    height: 5vh;
    }
.putin-cart img{
    margin:4% 3%;
    height: 3vh;
    }
.product-detail{
    margin:12% 3%;
    font-size: 1rem; 
    line-height: 2rem;  
    height: 5vh;
    }  
.product-detail img{
    height: 15px;
    margin:0 0 1% 0;
    } 
}    
@media screen and (max-width: 375px) {
.cake li{
    width:41%;
    }
.cake-description {
    height: 14vh;
    }
.product-detail{
    font-size: .8rem;
    line-height: 1.8rem;
    }        
.putin-cart{
    font-size:.8rem;
    line-height: 1.8rem;
    }   
.putin-cart img{
    height: 2.5vh;
    }
}    
/* ======================================= */ 
.service-title{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.4rem;
    margin-top: 4%;
    border-style:1px
}
.special-service{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.service-board{
    width: 90%;
    display: flex;
    margin-top: 4%;
}
.service-pic{
    width:45%;
}
.service-pic img{
    width: 100%;
}
.service-text{
    padding-left: 2rem;
}
.service-text h1{
    font-size: 2.2rem;
    line-height:3rem;
    font-weight: bold;
}
.service-text p{
    font-size: 1.4rem;
    width: 80%;
    text-align: center;
    line-height: 3rem;
}
.service-text2 {
    width: 100%;
    margin-top:2%; 
}
.service-text2 p{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    line-height:3rem;
}
/* ======================================= */
@media screen and (max-width: 1024px) {
.service-title{
    font-size: 2.2rem;
    line-height: 3rem;
    }    
.service-pic{
    width: 55%;
    }
.service-pic img{
    height: 10vh;
    }
.service-text h1{
    font-size: 2rem;
    }
.service-text p{
    width:78%;
    }
}    
@media screen and (max-width: 768px) {
.service-pic img{
    height: 15vh;
    }    
.service-text{
    width:75%;
    }    
.service-text h1{
    font-size: 1.3rem;
    }    
.service-text p{
    width: 90%;
    font-size: 1.2rem;
    line-height: 2rem;
    }  
.service-text2{
    margin-top:5%; 
    }    
.service-text2 p{
    font-size: 1.3rem; 
    line-height:3.3rem;
    }   
}
@media screen and (max-width: 480px) {
.service-board{
    flex-wrap: wrap;
    }
.service-pic{
    width:100%;
    display: flex;
    justify-content: center;
    }
.service-pic img{
    height: 16vh;
    width: auto;
    }
.service-text{
    width:100%;
    }    
.service-text h1{
    font-size: 1.2rem;
    line-height:2rem;
    }  
.service-text p{
    width: 90%;
    font-size: .9rem;
    line-height: 2rem;
    }   
.service-text2{
    margin-top:5%; 
    }  
.service-text2 p{
    font-size: .9rem; 
    line-height:2rem;
    }  
}
@media screen and (max-width:375px) {
.service-text{
    padding: 2%;
    }
.service-text h1{
    font-size: 1.4rem;
    }
.service-text p{
    display: none;    
    }
}   
/* ======================================= */
.propaganda3{
    width: 100%;
    height: 40%;
    display: flex;
    margin-top:5%;
}
.board3{
    width: 100%;
    height: 40%;
}
.propaganda3 img{
    object-fit: cover;
    width: 100%;
}
.contact-method{
    width: 100%;
    justify-content:center;
    margin-top: 3%;
}
.store-logo2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.store-logo2 img{
    width: 30%;
}
.contact-method2{
    width: 100%;
    justify-content:center;
}
.contact-method2 p{
    font-size: 1.1rem;
    text-align: center;
    line-height:4rem;
}
.share-community{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.share-community p{
    font-size: 1.3rem;
    text-align: center;
    line-height:6rem;
}
.share-community a{
    width: 2%;
    margin:0% .6%;
}
/* ======================================= */
@media screen and (max-width: 1024px) {
.store-logo2 img {
    width: 50%;
    }    
}
@media screen and (max-width: 768px) {
.store-logo2 img{
    width: 50%;
    } 
.share-community p{
    line-height:5rem;
    font-size: 1.5rem;
    }  
.share-community a{
    width: 3%;
    margin:0% 1%;
    }    
}
@media screen and (max-width: 480px) {
.store-logo2 img{
    width: 70%;
    } 
.contact-method2 p{
    font-size: 1rem;
    line-height: 2rem;
    }
.share-community p{
    line-height:5rem;
    font-size: 1.3rem;
    }    
.share-community a{
    width: 5%;
    margin:0% 1%;
    }    
}
